In [1]:
import pandas as pd
import pymysql
from datetime import datetime
from snownlp import SnowNLP

In [2]:
# DB Connection

In [3]:
conn = pymysql.connect(host='localhost', port=3306, user='root', password='password', db='stock')
cursor = conn.cursor()

In [4]:
# Get raw data

In [5]:
query_sql = "select stock_id, review, review_date from guba;"
cursor.execute(query_sql)
results = cursor.fetchall()
data = pd.DataFrame(data=list(results), index=None, columns=['stock_id', 'review', 'review_date'])

In [46]:
data.shape[0]

3019355

In [9]:
data['date'] = pd.to_datetime(data['date'], format='%Y-%m-%d', errors='coerce')

In [10]:
data.index

RangeIndex(start=0, stop=3019357, step=1)

In [14]:
data.is_copy = False

In [15]:
data = data.drop(data['review'] == '')

In [17]:
data.index

Int64Index([      2,       3,       4,       5,       6,       7,       8,
                  9,      10,      11,
            ...
            3019347, 3019348, 3019349, 3019350, 3019351, 3019352, 3019353,
            3019354, 3019355, 3019356],
           dtype='int64', length=3019355)

In [18]:
judge_df = pd.notnull(data)

In [21]:
cnt = 0

In [22]:
# Get sentiments
for i in range(2, 3019357):
    review = data.loc[i, 'review']
    if review != '' and judge_df.loc[i,'review']:
        nlp = SnowNLP(review)
        data.loc[i,'sentiment'] = nlp.sentiments
        cnt += 1
        
        if cnt % 10000 == 0:
            print(cnt)

10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000
480000
490000
500000
510000
520000
530000
540000
550000
560000
570000
580000
590000
600000
610000
620000
630000
640000
650000
660000
670000
680000
690000
700000
710000
720000
730000
740000
750000
760000
770000
780000
790000
800000
810000
820000
830000
840000
850000
860000
870000
880000
890000
900000
910000
920000
930000
940000
950000
960000
970000
980000
990000
1000000
1010000
1020000
1030000
1040000
1050000
1060000
1070000
1080000
1090000
1100000
1110000
1120000
1130000
1140000
1150000
1160000
1170000
1180000
1190000
1200000
1210000
1220000
1230000
1240000
1250000
1260000
1270000
1280000
1290000
1300000
1310000
1320000
1330000
1340000
1350000
1360000
1370000
1380000
1390000
1400000
1410000
1420000
1430000
1440000
1450000
1460000
1470000
1480000
1490000
1500000
1510000
1520000
1530000
1540000
1550000
1560000
1570000
1580000
1590000
1600000
1610000
1620000
1630000
1640000
1650000
1660000
1670000
1680000
1690000
1700000
1710000
1720000
1730000
1740000
1750000
1760000
1770000
1780000
1790000
1800000
1810000
1820000
1830000
1840000
1850000
1860000
1870000
1880000
1890000
1900000
1910000
1920000
1930000
1940000
1950000
1960000
1970000
1980000
1990000
2000000
2010000
2020000
2030000
2040000
2050000
2060000
2070000
2080000
2090000
2100000
2110000
2120000
2130000
2140000
2150000
2160000
2170000
2180000
2190000
2200000
2210000
2220000
2230000
2240000
2250000
2260000
2270000
2280000
2290000
2300000
2310000
2320000
2330000
2340000
2350000
2360000
2370000
2380000
2390000
2400000
2410000
2420000
2430000
2440000
2450000
2460000
2470000
2480000
2490000
2500000
2510000
2520000
2530000
2540000
2550000
2560000
2570000
2580000
2590000
2600000
2610000
2620000
2630000
2640000
2650000
2660000
2670000
2680000
2690000
2700000
2710000
2720000
2730000
2740000
2750000
2760000
2770000
2780000
2790000
2800000
2810000
2820000
2830000
2840000
2850000
2860000
2870000
2880000
2890000
2900000
2910000
2920000
2930000
2940000
2950000
2960000
2970000
2980000
2990000
3000000
3010000

In [24]:
grouped = data[['sentiment', 'date']].groupby(data['date'])
mean = grouped.mean()

In [25]:
mean

            sentiment
date
2018-03-04   0.525219
2018-03-05   0.511891
2018-03-06   0.484359
2018-03-07   0.487399
2018-03-08   0.486738
2018-03-09   0.483932
2018-03-10   0.505803
2018-03-11   0.525550
2018-03-12   0.492034
2018-03-13   0.489678
2018-03-14   0.482495
2018-03-15   0.493763
2018-03-16   0.476228
2018-03-17   0.485080
2018-03-18   0.507551
2018-03-19   0.485762
2018-03-20   0.482046
2018-03-21   0.471407
2018-03-22   0.469970
2018-03-23   0.487418
2018-03-24   0.499037
2018-03-25   0.516915
2018-03-26   0.488212
2018-03-27   0.480836
2018-03-28   0.477067
2018-03-29   0.469296
2018-03-30   0.494318
2018-03-31   0.497986
2018-04-04   0.507823
2018-04-05   0.523963
...               ...
2019-03-01   0.493798
2019-03-02   0.506843
2019-03-03   0.492223
2019-04-01   0.518486
2019-04-02   0.491623
2019-04-03   0.483143
2019-05-01   0.529862
2019-05-02   0.486523
2019-05-03   0.491436
2019-06-01   0.496757
2019-06-02   0.490349
2019-06-03   0.480970
2019-07-01   0.506632
2019-07-02   0.485432
2019-07-03   0.487327
2019-08-01   0.505907
2019-08-02   0.496279
2019-08-03   0.489378
2019-09-01   0.491927
2019-09-02   0.502910
2019-09-03   0.513993
2019-10-01   0.574017
2019-10-02   0.565480
2019-10-03   0.514710
2019-11-01   0.494151
2019-11-02   0.490673
2019-11-03   0.489254
2019-12-01   0.487446
2019-12-02   0.517965
2019-12-03   0.497995

[365 rows x 1 columns]

In [47]:
data.head()

,stock_id,review,review_date,date,sentiment
2,000001,电广绝对是一家相当有实力的公司，不但有达晨大手笔科创的投资，而且有上百件世间,12-25,2018-12-25,0.997419
3,000001,6000点大牛市中，机构并没赚到大钱，因为刚涨一点他们就抛，按原来的逻辑交易。,12-15,2018-12-15,0.485035
4,000001,9倍市盈率的常熟汽饰，最厚实的安全垫子，抗大盘破2449的安全股。 常熟汽饰,12-14,2018-12-14,0.013230
5,000001,《流浪地球》《新喜剧之王》公司可分得收益超过5亿，增厚每股收益0.3元，以20,02-21,2019-02-21,0.999986
6,000001,一直以来关注平安银行000001，对平安银行的发展前景非常乐观，至今已全仓持有,03-02,2019-03-02,0.031905

In [ ]:
data = data

In [66]:
## Preprocessing
# Convert review_date (str -> Date)
def get_year(s):
    '''
    >>> get_year('06-03')
    >>> '2018-06-03'
    '''
    
    month, day = s.split('-')
    
    if int(month) > 3:
        return '2018-' + s
    elif int(month) == 1:
        return '2019-' + s
    else:
        return ''
    
def parse_ymd(s):
    if s != '':
        year_s, mon_s, day_s = s.split('-')
        return datetime(int(year_s), int(mon_s), int(day_s))
    else:
        return ''

In [50]:
data['date1'] = data['review_date'].apply(lambda x: parse_ymd(get_year(x)))

In [52]:
grouped1 = data[['sentiment', 'date1']].groupby(data['date1'])
mean1 = grouped1.mean()

In [55]:
mean1.to_excel('sentiment1.xlsx', encoding='utf-8')

In [60]:
data.shape[0]

3019355

In [67]:
data['date2'] = data['review_date'].apply(lambda x: parse_ymd(get_year(x)))

In [68]:
grouped2 = data[['sentiment', 'date2']].groupby(data['date2'])
mean2 = grouped2.mean()

In [70]:
mean2.to_excel('sentiment2.xlsx', encoding='utf-8')

In [71]:
cursor.close()
conn.close()